<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcTV9BzqbCsHc2jWfNu5Fv8gyPrfqOf_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>689292954411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>car.pace.cofu</string>
	<key>PROJECT_ID</key>
	<string>connectedfueling-app</string>
	<key>STORAGE_BUCKET</key>
	<string>connectedfueling-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689292954411:ios:6c38fb14c38d4de44ad36e</string>
</dict>
</plist>