// Copyright © 2020 PACE Telematics GmbH. All rights reserved.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// For information how to add a new settings entry please see readme file

// DEVELOPMENT CONFIGURATION
// App Settings
APP_NAME = PACE Connected Fueling (dev)
APP_BUNDLE_IDENTIFIER = car.pace.cofu
